.section--arrivals {
  padding: 16rem 6rem 0 6rem;
  background-color: var(--clr-secondary-black);
  grid-column: container-start / container-end;
  width: 100%;
  height: 100%;
  position: relative;

  &__title {
    @extend %flex-center;
    font-family: "Oxygen", sans-serif;
    font-size: font-size("font-size-regular");
    text-transform: uppercase;
    color: var(--clr-primary-white);
    padding: 2vh 0;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-button {
    color: var(--clr-primary-white) !important;
  }
  .swiper-wrapper {
    position: relative;

    .swiper-slide {
      @extend %flex-center;
      flex-direction: column;
      font-family: "Oxygen", sans-serif;
      font-size: font-size("font-size-small");
      text-transform: uppercase;
      color: var(--clr-primary-white);
      cursor: pointer;

      &:hover .swiper-slide_addToCart,
      &:active .swiper-slide_addToCart {
        background-color: var(--clr-primary-white);
        height: 15%;
        opacity: 0.65;
      }
      img {
        height: auto;
        width: 70%;
        max-width: 350px;
      }

      & .swiper-slide_addToCart {
        opacity: 0;
        position: absolute;
        color: var(--clr-primary-black);
        top: 80%;
        width: 80%;
        height: 0;
        line-height: 5rem;
        text-align: center;
        transition: all 0.75s;
        z-index: 2;
        transform: translateY(-100%);
      }
    }
  }

  @include media-supersmall {
    & .swiper-slide_addToCart {
      top: 80%;
      width: 80%;
      height: 0;
      line-height: 3rem !important;
    }
  }
}

.section--allProducts {
  @extend .section--arrivals;

  &__title {
    @extend .section--arrivals__title;
  }

  //add some grid here
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2vh 4vw;
    place-content: center;
    padding: 5rem 0;

    &-products {
      position: relative;
      &:hover .section--allProducts__container-products_txt_addToCart,
      &:active .section--allProducts__container-products_txt_addToCart {
        background-color: var(--clr-primary-white);
        height: 15%;
        opacity: 0.65;
      }
      & img {
        @extend %bg;
        width: 100%;
        height: auto;
      }
      &_txt {
        @extend %flex-center;
        flex-direction: column;
        font-family: "Oxygen", sans-serif;
        font-size: font-size("font-size-small");
        text-transform: uppercase;
        color: var(--clr-primary-white);
        cursor: pointer;
        width: 100%;

        &_addToCart {
          opacity: 0;
          position: absolute;
          color: var(--clr-primary-black);
          top: 80%;
          width: 80%;
          height: 0;
          line-height: 6rem;
          text-align: center;
          transition: all 0.75s;
          z-index: 2;
          transform: translateY(-100%);
        }
      }
    }
  }

  @include media-betweenTD {
    &__container {
      grid-template-columns: repeat(auto-fit, 30rem);
      &-products {
        &_txt {
          &_addToCart {
            line-height: 4rem !important;
          }
        }
      }
    }
  }
  @include media-tablet {
    &__container {
      grid-template-columns: repeat(auto-fit, 22rem);
    }
  }

  @include media-medium {
    &__container {
      grid-template-columns: repeat(auto-fit, 19rem);
    }
  }
}
